body{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    background-color: rgb(243, 255, 240);
    box-sizing: content-box;
    border-radius: 10px;
    border: 2.5px solid green;
}
p{
    margin-left: 5%;
}
.star{
    color: red;
}
.required{
    color: red;
}
h1{
    margin-top: -5px;
    text-align: center;
    background-color: rgb(188, 255, 193);
    font-size: 50px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    border: 1px solid green;
}
h3{
    margin-top: -8mm;
    text-align: center;
    background-color: rgb(223, 154, 85);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25%;
    margin-right: 25%;
    font-size: x-large;  
    border-radius: 10px;  
    padding:  5px;
    border: 1px solid maroon;
}
fieldset{
    background-color: white;
    border-color: #ccc;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 5px;
    border: 1px solid green;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px;
}
select{
    width: 30%;
    padding: 12px;
    
    border-radius: 5px;
    margin: 10px;
    border: 1px solid green;
}
input[type="submit"]{
    background-color: rgb(170, 235, 153);
    color: black;
    font-weight: bolder;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    border: 1px solid green;
}
input[type="submit"]:hover{
    background-color: rgb(113, 219, 104);
}
